PORT=3000
HOST=0.0.0.0
INTERNAL_ORDER_BASE_URL=http://127.0.0.1:3000
CORS_ORIGINS=https://admin.quickly.host,https://qr.quickly.host,https://hq.quickly.host,http://localhost:4200,http://127.0.0.1:4200

DATABASE_PATH=./db
BACKUP_PATH=./backup
DOCUMENTS_PATH=./documents
ADDRESES_PATH=./address
CERTIFICATES_PATH=./certificates
CDN_MENU_PATH=./public/quickly-menu
ACCESS_LOGS_PATH=./logs/access.log
APN_AUTHKEY_PATH=./certificates/AuthKey_788GCC9YS7.p8

ADMIN_HASH=
RECAPTCHA_SECRET=
NESTPAY_USERNAME=
NESTPAY_SECRET=
NESTPAY_CLIENT_ID=
NESTPAY_STORE_KEY=
NESTPAY_CUSTOMER=
EFATURA_USERNAME=
EFATURA_SECRET=
NETGSM_USERNAME=
NETGSM_PASSWORD=
NETGSM_BRAND=QUICKLY
ISNET_USERNAME=
ISNET_PASSWORD=
UYUMSOFT_USERNAME=
UYUMSOFT_PASSWORD=
GOOGLE_GMAIL_TYPE=service_account
GOOGLE_GMAIL_PROJECT_ID=
GOOGLE_GMAIL_PRIVATE_KEY_ID=
GOOGLE_GMAIL_PRIVATE_KEY=
GOOGLE_GMAIL_CLIENT_EMAIL=
GOOGLE_GMAIL_CLIENT_ID=
GOOGLE_GMAIL_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GOOGLE_GMAIL_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_GMAIL_AUTH_PROVIDER_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
GOOGLE_GMAIL_CLIENT_CERT_URL=
